<!DOCTYPE html>
<html lang="en">

<head>
    <!--
     - Roxy: Bootstrap template by GettTemplates.com
     - https://gettemplates.co/roxy
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Omyc Studios</title>
    <meta name="description" content="Roxy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/lightcase/lightcase.css' %}">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0">OMYC STUDIOS</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto" href="#blog-section">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tutorial'%}">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
	<div class="jumbotron jumbotron-single d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-2 mb-4">{{ blog_type.name }}</h1>
  </div>
</div>	

</div>
<div id="blog-section" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title"></b></h2>
            </div>
            <div class="row">
              
                <div class="col-md-12 blog-holder">
                    <div class="row">
                    
                        {% for blog in page_obj %}
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                           
                            <div class="blog-item">

                                    <div class="blog-img">
                                        {% if blog.image %}
                                            <a href="{% url 'post' blog_id=blog.pk  %}"><img src="{{blog.imageURL}}" alt=""></a>
                                        {% endif %}
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-title">
                                            <a href="{% url 'post' blog_id=blog.pk  %}"><h4>{{blog.title}}</h4></a>
                                        </div>
                                        <div class="blog-meta">
                                            <p class="blog-date">Published on:{{blog.date}}</p>
                                        
                                        </div>
                                        <div class="blog-desc">
                                            <p>{{blog.content|truncatewords:20}}</p>
                                        </div>
                                        <div class="blog-author">
                                            <p>{{blog.author}}</p>
                                        </div>
                                       
                                    </div>
                               
                            </div>
                        
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>

    <!-- Pagination controls for this section only -->

 
</div>
<!-- End of Blog Section -->


<footer class="mastfoot my-3">
    <div class="inner container">
        <div class="row">
            <div class="col-lg-4 col-md-12 d-flex align-items-center">
            </div>
            <div class="col-lg-4 col-md-12">
                <nav class="nav nav-mastfoot justify-content-center">
                    <p style="padding-top: 10px;">Connect with us:</p>
                    <a class="nav-link" href="https://wa.me/+233547039326">
                        <i class="fab fa-whatsapp" style="font-size: 24px;"></i>
                    </a>
                    <a class="nav-link" href="https://www.facebook.com/profile.php?id=61554059577688">
                        <i class="fab fa-facebook-f" style="font-size: 24px;"></i>
                    </a>
                    <a class="nav-link" href="https://www.instagram.com/omyc5?igsh=eGduZGRhank3d3Fl">
                        <i class="fab fa-instagram" style="font-size: 24px;"></i>
                    </a>
                    <a class="nav-link" href="https://www.youtube.com/channel/UCS5bJXDKxz8JKL68XyELJLg">
                        <i class="fab fa-youtube" style="font-size: 24px;"></i>
                    </a>
                </a>

             
                <a class="nav-link" href="https://wa.me/+233506632349">
                     Made with &#x1F496;
                     by &copy;<strong>SM_Jay</strong><i class="fab fa-whatsapp" style="font-size: 24px;"></i>
                </a>
                </nav>
               
                   
                   
                    
                </div>
            </div>
            
        </div>
    </div>
    
        </div>
    </div>
</footer>
<!-- End of Blog Section -->	<!-- Features Section-->

<!-- End of Features Section--></div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/select2/select2.min.js ' %}"></script>
	<script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'vendor/stellar/jquery.stellar.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
	<script src="{% static 'vendor/lightcase/lightcase.js' %}"></script>
	<script src="{% static 'vendor/waypoints/waypoint.min.js' %}"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="{% static 'js/app.min.js ' %}"></script>

</body>
</html>
